* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

/* navigation bar */

.navbar {
  display: flex;
  justify-content: center;
  background-color: white;
  position: sticky;
  top: 0; 
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}

.navbar ul li{
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 25px;
}

.navbar ul li a:link {
  color: black; 
  background-color: white; 
  text-decoration: none;
}

.navbar ul li a:visited {
  color: black;
  background-color: white;
  text-decoration: none;
} 
.navbar ul li a:hover {
  color: olivedrab;
  background-color: white;
  text-decoration: overline;
}

.navbar ul li :active {
  color: white;
  background-color: white;
  text-decoration: overline;
}

/* home page */

#home {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 960px;
  justify-content: center;
  align-items: center;
  color: white;
}

.quotes {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: absolute;
  top: 5%;
  height: 7.5rem;
  font-family: monospace;
}

#quote1 {
  font-size: 17px;
  font-weight: bold;
  color: white;
  border: 2px solid black;
  margin: 50px;
  text-align: center;
}

#quote2 {
  font-size: 17px;
  font-weight: bold;
  color: white;
  border: 2px solid black;
  margin: 50px;
  text-align: center;
}

#ms {
  font-size: 17px;
  font-weight: bold;
  color: white;
  margin: 55px 80px;
  text-align: center;
}

.terminal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35%;
  margin-left: 20px;
  margin-top: 20px;
}

.prompt {
  width: 50%;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 40px;
}

.headings {
  font-family: monospace;
  font-size: 3rem;
  text-align: center;
  margin: 40px 0px;
  color: white;
}

#test{
  padding-top: 35px;
  margin-top: 0.5%;
}

/* about me / bio page */

#about {
  display: flex;
  flex-direction: column;
  background-color: black;
  box-sizing: border-box;
  padding: 40px;
  height: 960px;
  margin-bottom: 1%;
}

#pic {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#pic img {
  width: 390px;
  height: 590px;
  border: 5px solid whitesmoke;
  border-radius: 3%;
  margin-left: 145px;
}

#h2 {
  color: white;
}

#intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: justify;
  padding: 10px;
  text-align: center;
  width: 60%;
  height: 40%;
  font-family: monospace;
  font-size: 15px;
  color: white;
}

div #intro {
  position: relative;
  left: 36%;
  bottom: 500px;
}

#intro h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.places {
  text-align: left;
  margin-left: 12%;
  margin-top: -5px;
  padding-left: 15px;
}

#visit {
  margin: 50px 60px 10px;
}

/* experience page */

#experience {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: black;
  color: black;
  height: 960px;
  margin-bottom: 2%;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 550px;
  border: 1px solid black;
  margin: 20px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  background-size: 100% 200%;
}

#experiences {
  color:white;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: monospace;
  font-size: 15px;
  width: 80%;
  height: 90%;
  word-spacing: -4.71px;
  margin: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  padding: 30px;
  font-family: monospace;
  margin-top: -30px;
  font-size: 15px;
}

.jobheadings {
  font-size: 22px;
  font-family: monospace;
  padding: 3%;
  text-decoration: underline;
}

.joblinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  color: white;
  font-size: 25px;
  width: 80%;
  margin-left: 100px;
  border: 2px solid white
}

#joblink1 a{ 
  color: black; 
}

#joblink1 a:hover { 
  color: red; 
}

#joblink2 a{ 
  color: black; 
}

#joblink2 a:hover { 
  color: blue; 
}

#joblink3 a{ 
  color: black; 
}

#joblink3 a:hover { 
  color: green; 
}

/* portfolio page */

#portfolio {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  padding: 40px;
  height: 960px;
  margin-top: 80px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}

.gallery img {
  width: 360px;
  height: 240px;
  margin: 10px;
  border: 2px solid white;
}

.text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  font-family: monospace;
  font-size: 12px;
}

.text:active {
  color: white;
}

hr {
  border: 1px solid white;
  width: 25%;
  margin-left: 37%;
}