* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navigation bar */

.navbar {
  display: flex;
  justify-content: center;
  background-color: white;
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}

.navbar ul li{
  font-family: monospace;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 25px;
}

.navbar ul li a:link {
  color: black; 
  background-color: transparent; 
  text-decoration: none;
}

.navbar ul li a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
} 
.navbar ul li a:hover {
  color: olivedrab;
  background-color: transparent;
  text-decoration: overline;
}

.navbar ul li :active {
  color: white;
  background-color: transparent;
  text-decoration: overline;
}

/* home page */

#home {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 950px;
  justify-content: center;
  align-items: center;
  color: white;
}

.quotes {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  align-items: left;
  position: absolute;
  top: 5.9%;
  height: 7rem;
  font-family: monospace;
}

#quote1 {
  font-size: 17px;
  font-weight: bold;
  color: white;
  border: 2px solid black;
  margin: 50px;
  text-align: center;
}

#quote2 {
  font-size: 17px;
  font-weight: bold;
  color: white;
  border: 2px solid black;
  margin: 50px;
  text-align: center;
}

#ms {
  font-size: 17px;
  font-weight: bold;
  color: white;
  border: 2px solid black;
  margin: 55px 80px;
  text-align: center;
}

.terminal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35%;
  margin-left: 20px;
  margin-top: 20px;
}

.prompt {
  width: 50%;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 40px;
}

.headings {
  font-family: monospace;
  font-size: 3rem;
  text-align: center;
  margin: 40px 0px;
}

/* about me / bio page */

#about {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 50px;
}

#pic {
  display: flex;

}

#pic img {
  width: 575px;
  width: 400px;
}

#intro {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 10px;
}

#intro h2 {
  font-size: 2rem;
  margin-bottom: 20px;

}

/* experience page */

#experience {
  display: flex;
  flex-direction: column;
  padding: 20px;

}

.row {
  display: flex;

}

.box {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  border: 1px solid black;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(black 50%, white 50%);
  background-size: 100% 200%;
}

.box:hover {
  background-position: left bottom;
  color: white;
  border: none;
}

/* portfolio page */

#portfolio {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  align-items: center;
  padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}

.gallery img {
  width: 360px;
  height: 240px;
  margin: 10px;
}
