/* media query for 769px — 1024px: Small screens, laptops */

@media screen and (max-width: 1024px) {

.headings {
    font-size: 2.7em;
}

.navbar {
    width: 100%;
}

.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#home {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

#pic img {
    flex-direction: column;
    align-self: center;
    margin: 0;
}

#pic {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#about {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

#intro {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
div #intro {
    position: relative;
    left: 0%;
    bottom: 0;
}

.row {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

#portfolio {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.gallery {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    text-align: center;

}

.gallery img {
    align-self: center;
    width: 350px;
    height: 240px;
    border: 2px solid white;
}

    .text {
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%
}

#experience {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

}